@charset "utf-8";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;

$teal: #0faf8c;
$teal-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: 'Questrial', sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $teal;
$primary-invert: $teal-invert;
//PERSONAL settings
$tweetbackground: rgb(233, 230, 230);
$family-headers: 'Righteous', sans-serif;

@import "../node_modules/bulma/bulma";

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1.25rem;
  //maybe also dont need EXCEPT FOR FONT SIZE
  padding: 1rem;
  border: aqua dotted 2px;
}
.main {
  flex: 1;
  //maybe dont need
  padding: 1rem;
  border: chocolate solid 2px;
}
.section-body {
  width: 80%;
  margin: 0 auto;

  border: red solid 2px;
}
.title {
  font-size: 5rem;
  position: relative;
  font-family: $family-headers;
  top: 3rem;

  padding: 1rem;
  border: orchid solid 1px;
  &-image{
    border: blue dotted 3px;
  }
}
#find{
  padding: 0;

  padding: .2rem;
  border: yellowgreen solid 2px;
}

.media {
  flex-direction: column;
  width: 100%;
  // border: blueviolet dotted 4px;
  // height: 40rem;
  // overflow: scroll;
  &-container {
    width: 98%;
    display: flex;
    flex-direction: row;
    // border: purple 1px solid;
    padding: 1rem .5rem;
    margin: .25rem auto;
    border-radius: .5rem;
    background-color: $tweetbackground;
    box-shadow: -3px 3px 5px 0px rgba(176,176,176,0.76);
  }
  &-content{
    width: 100%;
  }
  &-left {
    margin: auto auto;
    width: auto;
    padding: 0 .5rem;
    // border: greenyellow solid 1px;
  }
  &-tweet {
    padding: 1% 1% 0 1%;
    // border: yellow solid 2px;
    width: 100%;
  }

}

h2, h3, h4 {
  font-family: $family-headers;
}

.bio {
  &-name{
    font-size: 2.5rem;
  }
  &-alt{
    font-size: 1.35rem;
    font-style: italic;
    margin-bottom: 1rem;
  }
  &-p{
    padding-top: 1rem;
  }
}

.content {
  &-section {
    font-size: 2.5rem;
    padding: 1rem;
    border: grey dotted 2px;
  }
  &-header {
    text-align: center; // padding: 1rem;
    font-size: 2rem;
    padding: 2rem;
    border: burlywood dotted 3px;
  }
  &-body {
    padding: .5rem 1rem;
    padding: 2.5rem;
    border: black dotted 4px;
  }
}

.audio {
  &-player {
    width: 80%;
    margin: 0 10%;
    padding:1rem;
    padding-top: 3rem;
    border: orange dotted 1px;
  }
  &-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}