* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
}

body {
  flex-direction: column;
  width:80%;
  margin: 0 auto;
  justify-content:center;
  * {
    border: olivedrab solid .1px;
  }
}

.intro {
  border: orangered dotted 2px;
  // width: 100%;
  // justify-content:center;
  // align-content: center;
  // text-align: center;
  flex-direction: column;
  // flex-wrap: nowrap;
  
}
.brand{
  // width: 100%;
  align-content: center;
  text-align: center;
  font-size: 3rem;
  &-img{
    max-width:70%;
  }
}

.spotify {
  flex-direction: column; // flex-wrap: wrap;
}
.share {
  flex-direction: row;
  // flex-wrap: wrap;
}
.span {
  width: 100%;
  flex-grow: 1;
  margin: 1rem 0 ;
}
.half {
  width: 50%;
  flex-grow: 1;
  flex-wrap: wrap; // flex-basis: 50%;
  &-left{
    -webkit-box-shadow: -5px 8px 23px -6px rgba(26,28,36,0.4);
-moz-box-shadow: -5px 8px 23px -6px rgba(26,28,36,0.4);
box-shadow: -5px 8px 23px -6px rgba(26,28,36,0.4);
  }
  &-right{
    -webkit-box-shadow: 5px 8px 23px -6px rgba(26,28,36,0.4);
-moz-box-shadow: 5px 8px 23px -6px rgba(26,28,36,0.4);
box-shadow: 5px 8px 23px -6px rgba(26,28,36,0.4);
  }
}
.art{
  max-width:100%;
  max-height:100%;
  object-fit:contain;
}